<footer>
  <h1>Как с нами связаться</h1>
  <a class="contact" href="tel:+77777777777">+7-777-777-77-77</a><br>
  <a class="contact" href="mailto:kokos@mail.ru">kokos@mail.ru</a><br>
  <a href="#"><img class="contact_img" src="Pictures/Icons/Vk.png" alt="vk"></a>
  <a href="#"><img class="contact_img" src="Pictures/Icons/Telegram.png" alt="telegram"></a>
  <p id="timeinfo">Total load time: {{loadtime}} + </p>
  <pre> /\_____/\
/  o   o  \
( ==  ^  == )
)         (</pre>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="Scripts/showWebSocket.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
</footer>