<header>
  <a href="../"><img class="logo_img" src="Pictures/Icons/Logo.png" alt="logo"></a>
  <div class="menu_icons">
    <button><img class="menu_img" src="Pictures/Icons/Down.png" alt="menu"></button>
    <div class="points">
      <a href="/account">Аккаунт</a>
      <a href="/favourites">Избранное</a>
      <a href="/basket">Корзина</a>
      <a href="/mail">Сообщения</a>
    </div>
  </div>
  <input type="text" value="" placeholder="поиск">
  <div class="icons">
    <a href="/account"><img class="icon_img" src="Pictures/Icons/Men.png" alt="account"></a>
    <a href="/favourites"><img class="icon_img" src="Pictures/Icons/Heart.png" alt="favourites"></a>
    <a href="/basket"><img class="icon_img" src="Pictures/Icons/Basket.png" alt="basket"></a>
    <a href="/mail"><img class="icon_img" src="Pictures/Icons/Mail.png" alt="mail"></a>
  </div>
</header>