<div class="site_menu" id="menu-act">
  <script src="Scripts/ActiveState.js"></script>
  <a href="../">Главная</a>
  <a href="/catalog">Каталог</a>
  <a href="/login">Аккаунт</a>
  <a href="/favourites">Избранное</a>
  <a href="/basket">Корзина</a>
  <a href="/mail">Сообщения</a>
  <a href="/delivery">Доставка</a>
  <a href="/stocks">Акции</a>
  <a href="/faq">F.A.Q.</a>
  <a href="/wishList">Список желаний</a>
</div>