<!DOCTYPE html>
<html lang="ru">
<head>
  {{>head}}
</head>
<body>
<main>
  {{>header}}
  {{>navbar}}
  <section class="welcome">
    <div class="quotes">
      <img class="quotes_img" src="Pictures/Dialog.png" alt="Цитата 1">
      <div class="quote_text">
        <q>Нет развлечений дешевле чтения книг и нет удовольствия более длительного</q><br>
        <cite>Мари Монтегю</cite>
      </div>
    </div>
    <div class="kokos">
      <img id="kokos_img" src="Pictures/Kokos.jpg" alt="Кокос">
      <div id="kokos_text">Кот Кокос приветсвует Вас и желает хороших покупок!</div>
    </div>
  </section>
  <h1>Акции</h1>
  <section class="sales">
    <div class="sale">
      <a href="/stocks"><img class="sales_img" src="Pictures/Sales/Blue 1.jpg" alt="Акция 1"></a>
      <div class="sale_text">Скидка 20% на чек от 1000р</div>
    </div>
    <div class="sale">
      <a href="/stocks"><img class="sales_img" src="Pictures/Sales/Green 1.jpg" alt="Акция 2"></a>
      <div class="sale_text">Скидка 15% при оплате на сайте</div>
    </div>
  </section>
  <h1>Подборки</h1>
  <section class="bestsellers">
    <h2><a href="/catalog">Бестселлеры</a></h2>
    <div class="books_list">
      <div class="container">
        <a href="/catalog"><img class="imgBx" src="Pictures/Books/Book 1.jpg" alt="bestseller"></a>
        <div class="details">
          <div class="content">
            <h1>Дьякон Кинг-Конг<br></h1>
            <h2>Джеймс Макбрайд<br><br></h2>
            <h3>350 руб</h3>
            <button>в корзину</button>
          </div>
        </div>
      </div>
      <div class="container">
        <a href="/catalog"><img class="imgBx" src="Pictures/Books/Book 2.jpg" alt="bestseller"></a>
        <div class="details">
          <div class="content">
            <h1>Друзья - больше, чем просто сериал<br></h1>
            <h2>Келси Миллер<br><br></h2>
            <h3>500 руб</h3>
            <button>в корзину</button>
          </div>
        </div>
      </div>
      <div class="container">
        <a href="/catalog"><img class="imgBx" src="Pictures/Books/Book 3.jpg" alt="bestseller"></a>
        <div class="details">
          <div class="content">
            <h1>Мара и Морок<br></h1>
            <h2>Лия Арден<br><br></h2>
            <h3>750 руб</h3>
            <button>в корзину</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="news">
    <h2><a href="/catalog">Новинки</a></h2>
    <div class="books_list">
      <div class="container">
        <a href="/catalog"><img class="imgBx" src="Pictures/Books/New 1.png" alt="kids"></a>
        <div class="details">
          <div class="content">
            <h1>Девушка в голубом пальто<br></h1>
            <h2>Моника Хессе<br><br></h2>
            <h3>450 руб</h3>
            <button>в корзину</button>
          </div>
        </div>
      </div>
      <div class="container">
        <a href="/catalog"><img class="imgBx" src="Pictures/Books/New 2.jpg" alt="kids"></a>
        <div class="details">
          <div class="content">
            <h1>Лучезарная. Узри свое будущее<br></h1>
            <h2>Джордан Ифуэко<br><br></h2>
            <h3>600 руб</h3>
            <button>в корзину</button>
          </div>
        </div>
      </div>
      <div class="container">
        <a href="/catalog"><img class="imgBx" src="Pictures/Books/New 3.png" alt="kids"></a>
        <div class="details">
          <div class="content">
            <h1>Сага об угре<br></h1>
            <h2>Патрик Свенссон<br><br></h2>
            <h3>350 руб</h3>
            <button>в корзину</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="kids">
    <h2><a href="/catalog">Для детей</a></h2>
    <div class="books_list">
      <div class="container">
        <a href="/catalog"><img class="imgBx" src="Pictures/Books/Kids 1.jpg" alt="kids"></a>
        <div class="details">
          <div class="content">
            <h1>Молния. История о Мэри Эннинг<br></h1>
            <h2>Антея Симмонс<br><br></h2>
            <h3>400 руб</h3>
            <button>в корзину</button>
          </div>
        </div>
      </div>
      <div class="container">
        <a href="/catalog"><img class="imgBx" src="Pictures/Books/Kids 2.png" alt="kids"></a>
        <div class="details">
          <div class="content">
            <h1>Первая прогулка богдыхана<br></h1>
            <h2>Влас Дорошевич<br><br></h2>
            <h3>200 руб</h3>
            <button>в корзину</button>
          </div>
        </div>
      </div>
      <div class="container">
        <a href="/catalog"><img class="imgBx" src="Pictures/Books/Kids 3.png" alt="kids"></a>
        <div class="details">
          <div class="content">
            <h1>Сказки для девочек<br><br></h1>
            <h3>850 руб</h3>
            <button>в корзину</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">shineLinks('menu-act');</script>
  {{>footer}}
</main>
</body>
</html>