<!DOCTYPE html>
<html lang="ru">
<head>
  {{>head}}
</head>
<body>
{{>header}}
<main>
  {{>navbar}}
  <script type="text/javascript">shineLinks('menu-act');</script>
</main>
{{>footer}}
</body>
</html>