#user_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    flex-direction: column;
}

#user_info .user .name {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 22px;
}

#user_info .user .info {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
}

#user_info p {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
}

/*#login {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*}*/

#login_item {
    margin: 10px;
}

.login_input {
    border-color: #910c6f;
    font-family: 'Nunito', sans-serif;
}

.login_label {
    font-family: 'Balsamiq Sans', cursive;
}

.login_button {
    font-family: 'Balsamiq Sans', cursive;
    background: #fdecf9;
    border-color: #910c6f;
}

button {
    font-family: 'Balsamiq Sans', cursive;
    background: #fdecf9;
    border-color: #910c6f;
    font-size: 15px;
}

.input_data {
    font-family: 'Balsamiq Sans', cursive;
    background: #fdecf9;
    border-color: #910c6f;
    font-size: 15px;
    margin-bottom: 10px;
}

.input_name {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 15px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    flex-direction: column;
}